a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  margin: 0;
  line-height: 1.4rem;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
  margin: 4px;
}

.header-container,
.footer-container {
  background-color: #1f2937;
  color: #f9faf8;
}

.header-container a {
  color: #f9faf8;
  font-size: 1.4rem;
}

.header-container > nav {
  display: flex;
  justify-content: space-evenly;
}

.nav-links-container {
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 400px;
  justify-content: space-around;
}

.nav-links-container a:hover {
  text-decoration: underline;
  color: beige;
}

nav > .img-container {
  margin: 15px;
  border: 10px outset white;
  border-radius: 10px;
}

.header-info {
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-info__main h3 {
  font-size: 2rem;
}

.header-info__main p {
  font-size: 1.1rem;
  color: #e5e7eb;
  margin: 10px 0;
  margin-right: 30px;
  text-align: justify;
}

button {
  color: white;
  background-color: #3882f6;
  font-weight: 700;
  font-size: 0.9rem;
  border: none;
  padding: 8px;
  border-radius: 5px;
}

img {
  width: 200px;
  height: 200px;
  border: 2px outset whitesmoke;
  border-radius: 10px;
}

.info-section h3 {
  text-align: center;
  margin-bottom: 5px;
}
.info-section > div {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.info-section > div > figure {
  flex: 1;
}

.quote-section {
  margin: 10px;
  line-height: 2rem;
  padding: 5px;
  background-color: #e5e7eb;
  font-size: 1.44rem;
  color: #1f2937;
  font-style: italic;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action div {
  width: 800px;
}

.call-to-action h3 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

.footer-container {
  height: 3rem;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
